<!-- ============================================================ COOKIE CONSENT -->
<div class="cookie-consent" id="cookie-consent" role="dialog" aria-modal="true" aria-labelledby="cookie-consent-title" hidden data-cookie-consent>
  <div class="cookie-consent__dialog">
    <h2 class="cookie-consent__title" id="cookie-consent-title">Der Schutz Ihrer Daten ist uns wichtig!</h2>
    <p class="cookie-consent__text">Nur durch das Akzeptieren der Cookies, können wir Ihnen den besten Funktionsumfang bieten. Wenn Sie auf „Alle Cookies akzeptieren“ klicken, stimmen Sie der Verwendung aller Cookies zu. Mit einem Klick auf „Einstellungen“ können Sie Ihre Auswahl anpassen.</p>

    <div class="cookie-consent__settings collapse" id="cookie-settings" data-cookie-settings>
      <fieldset class="cookie-group">
        <legend class="cookie-group__legend">
          <input class="cookie-group__input" id="cookie-group-required" type="checkbox" checked disabled>
          <label for="cookie-group-required">Technisch erforderlich</label>
        </legend>
        <p class="cookie-group__desc">Für die Funktion des Shops erforderliche Cookies:</p>
        <ul class="cookie-group__list">
          <li><input id="cookie-session" type="checkbox" checked disabled><label for="cookie-session">Sitzung</label></li>
          <li><input id="cookie-timezone" type="checkbox" checked disabled><label for="cookie-timezone">Zeitzone</label></li>
          <li><input id="cookie-paypal" type="checkbox" checked disabled><label for="cookie-paypal">PayPal-Zahlungen</label></li>
        </ul>
      </fieldset>
      <fieldset class="cookie-group" data-cookie-group>
        <legend class="cookie-group__legend">
          <input class="cookie-group__input" id="cookie-group-statistics" type="checkbox" data-cookie-group-input>
          <label for="cookie-group-statistics">Statistiken</label>
        </legend>
        <p class="cookie-group__desc">Für Statistiken und Shop-Performance-Metriken genutzte Cookies.</p>
        <ul class="cookie-group__list">
          <li><input id="cookie-ga" type="checkbox" name="google-analytics"><label for="cookie-ga">Google Analytics</label></li>
        </ul>
      </fieldset>
      <fieldset class="cookie-group" data-cookie-group>
        <legend class="cookie-group__legend">
          <input class="cookie-group__input" id="cookie-group-marketing" type="checkbox" data-cookie-group-input>
          <label for="cookie-group-marketing">Marketing</label>
        </legend>
        <p class="cookie-group__desc">Erlaubt es Google, personenbezogene Daten für Online-Werbung und Marketing zu sammeln.</p>
        <ul class="cookie-group__list">
          <li><input id="cookie-ads" type="checkbox" name="google-ads"><label for="cookie-ads">Google Werbung und Marketing</label></li>
        </ul>
      </fieldset>
      <fieldset class="cookie-group" data-cookie-group>
        <legend class="cookie-group__legend">
          <input class="cookie-group__input" id="cookie-group-comfort" type="checkbox" data-cookie-group-input>
          <label for="cookie-group-comfort">Komfortfunktionen</label>
        </legend>
        <ul class="cookie-group__list">
          <li><input id="cookie-youtube" type="checkbox" name="youtube-video"><label for="cookie-youtube">YouTube-Video</label></li>
        </ul>
      </fieldset>
    </div>

    <div class="cookie-consent__actions">
      <button class="btn btn--light" type="button" aria-expanded="false" aria-controls="cookie-settings" data-cookie-configure>Einstellungen</button>
      <button class="btn btn--light" type="button" data-cookie-save hidden>Speichern</button>
      <button class="btn btn--primary" type="button" data-cookie-accept-all>Alle Cookies akzeptieren</button>
    </div>
    <p class="cookie-consent__footer">
      <small>Sie können die Cookies in Zukunft jederzeit widerrufen. Weitere Informationen dazu und zu den verwendeten Cookies erhalten Sie auch in unserer <a href="/service/datenschutz/">Datenschutzerklärung</a>.<br><a href="/unternehmen/impressum/">Impressum</a> | <a href="/service/agb/">AGB</a></small>
    </p>
  </div>
</div>
